.input_box {
    display: flex;
    margin: 50px;
}

.input_box > button {
    width: 15%;
    height: auto;
}

.input_box > input {
    margin: auto;
    width: 50%;
    height: 40px;
    border-radius: 15px;
}

.input_box > input::placeholder {
    text-align: center;
}


