.main_wrapper {
    margin: 20px auto !important;
    padding: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    min-height: 80vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
}

.link_box{
    background-color: #ffffff;
    color: black;
    padding: 15px 0;
    border: 2px solid #E0E0E0;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 0;
    width: 100%;
    font-size: 1rem;
}

.button_box {
    display: flex !important;
    justify-content: flex-end;
}

