

.search_write_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 10px;
    gap: 20px;
}

.search_box {
    display: flex;

}

.write_button {
    width: 10%;
    height: 50px;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 7px;
}


.content_container {
    /* grid 가 더 나을거 같음 */
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    padding: 1%;
}

