.login-container {
    background-color: #202225;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    box-sizing: border-box;
    background-color: #36393f;
    border: 1px solid #4f545c;
    color: #fff;
    border-radius: 4px;
    outline: none;
}

input::placeholder {
    color: #8e9297;
}

button, .signup-button {
    background-color: #8e9297;
    color: #fff;
    padding: 15px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 0;
    width: 100%;
}

button:hover, .signup-button:hover {
    background-color: #4f545c;
}

.signup-button {
    margin-top: 15px;
}

.oauth-container {
    display: flex;
    justify-content: space-around; /* 변경된 부분 */
    align-items: center; /* 변경된 부분 */
    margin-top: 15px;
    color: #fff; /* 변경된 부분 */
    font-size: 15px;
}

.btn-oauth {
    height: 80px;
    width: 80px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

.btn-oauth img {
    width: 70%;
    height: auto;
    border-radius: 50%;
}

@media (max-width: 576px) {
    /* 모바일 화면 크기에 대한 조정 */
    .login-container {
        width: 90%;
        max-width: none;
    }
}