.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 2px solid #E0E0E0;
    color: black;
    border-radius: 4px;
    outline: none;
}

input::placeholder {
    color: black;
}
button, .signup-button {
    background-color: #ffffff;
    color: black;
    padding: 15px 0;
    border: 2px solid #E0E0E0;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 0;
    width: 100%;
    font-size: 1rem;
}

button:hover, .signup-button:hover {
    background-color: #f4f4f4;
}

.signup-button {
    margin-top: 15px;
}

.oauth-container {
    display: flex;
    justify-content: space-between; /* 변경된 부분 */
    align-items: center; /* 변경된 부분 */
    margin-top: 15px;
    color: black; /* 변경된 부분 */
    font-size: 15px;
}

.btn-oauth {
    height: 80px;
    width: 80px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

.btn-oauth img {
    width: 70%;
    height: auto;
    border-radius: 50%;
}

@media (max-width: 576px) {
    /* 모바일 화면 크기에 대한 조정 */
    .login-container {
        width: 90%;
        max-width: none;
    }
}