.fullPage{
    display: flex;
    justify-content: center;
}

/* 기본 스타일 */
.errcontainer {
    width: 80%;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 1500px;
    position: relative;
    margin-top: 120px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: start;
}

.title{
    font-size: 50px;
    width: 100%;
    height: auto;
}

.line{
    width: 90%;
    border: 2px solid black;
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    padding: 10px;
}

.search-input {
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    width: 100%;
    margin: 0px;
}

.search-button {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    width: 50px;
    font-size: 20px;
}

.search-button:hover{
    background-color: #282c34;
}




