/* List.css */
.bigPage{
    display: flex;
}
/* 프로필 카드 스타일 */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    padding: 5px; /* 추가된 패딩 스타일 */
    border: 1px solid grey; /* 추가된 테두리 스타일 */
    width: 450px; /* 원하는 너비 설정 */
    height: 600px; /* 원하는 높이 설정 */
    margin: 30px;
}

.card:hover {
    transform: scale(1.05);
}

/* 레이더 차트 스타일 */
.chart-container {
    margin-top: 20px;
}

/* "상세보기" 버튼 스타일 */
.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:hover {
    background-color: #138496;
    border-color: #138496;
}