.maincontainer {
    width: 80%;
    padding: 50px;
    height: 1500px;
    position: relative;
    margin-top: 120px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category-card {
    width: 46%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 450px;
}

.category-card h2 {
    color: #0366d6;
}

.category-card p {
    color: #333;
}

.explanation {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 450px;
    width: 46%;
    padding: 15px;
    background-color: white;
}