body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}
.h1{
    color: black;
    font-size: 70px;
    font-family: "Showcard Gothic";
    position: fixed;
    z-index: 100;
    top: 150px;
    left: 0;
    width: 100%;
    text-align: center;
}

