.fullPage2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.write-header{
    background-color: #ffffff;
    width: 100%;
    height: 200px;
    z-index: 1000;
    position: fixed;
    top: 0;
}

.write-header hr{
    margin-top: 100px;
}

.myDoccontainer hr{
    margin: 20px 0;
}

.myDoccontainer {
    width: 800px;
    margin-top: 250px;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 1500px;
    position: relative;
    text-align: start;
    margin-bottom: 30px;
}

.myDoccontainer .title {
    color: black;
    margin-bottom: 15px;
    font-size: 30px;
    border: none;
    outline: none;
}

.myDoccontainer h2 {
    margin: 25px 0;
    font-size: 30px;
}

.myDoccontainer p {
    margin-bottom: 15px;
}

.myDoccontainer a {
    color: #007bff;
    text-decoration: none;
    border-bottom: 1px solid #007bff;
}

.myDoccontainer a:hover {
    color: #0056b3;
    border-bottom: 1px solid #0056b3;
}

.myDoccontainer ul, ol {
    margin-bottom: 15px;
    margin-left: 20px;
    list-style: disc;
}

.myDoccontainer img {
    width: 800px;
    height: 450px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.myDoccontainer pre {
    background-color: #2e2e2e;
    color: #a9b7c6;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    overflow: auto;
}

.myDoccontainer pre code {
    color: #a9b7c6;
}

/* 추가로 IntelliJ IDEA에서 제공하는 모노스페이스 폰트를 사용할 수 있습니다. */
.myDoccontainer pre, code {
    font-family: 'Courier New', monospace;
}

.h2-style {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    border: 1px solid white;
    padding: 10px;
    /* 추가적인 스타일 지정 가능 */
}



.p-style {
    font-size: 1em;
    color: #555;
    width: 100%;
    border: 1px solid white;
    padding: 10px;
    margin: 10px 0;
}

.code-style {
    background-color: #2e2e2e;
    color: #a9b7c6;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    overflow: auto;
    font-family: 'Courier New', monospace;
}

.myDoccontainer textarea {
    resize: none;
    width: 778px; /* 필요한 경우에 따라 너비 조절 가능 */
    height: auto; /* 내용에 따라 높이 자동 조절 */
    min-height: 100px; /* 최소 높이 설정 (원하는 값으로 변경 가능) */
}

.myDoccontainer .tagContainer {
    position: relative;
    display: flex;
    border-top: 1px solid antiquewhite;
}

.myDoccontainer .deleteButton {
    background-color: white; /* 적절한 색상으로 변경 */
    color: red;
    border: red 1px solid;
    padding: 5px;
    cursor: pointer;
    top: 0;
    width: 25px;
    height: 25px;
}

.myDoccontainer #bottomLine{
    margin: 20px 0;
    float: right;
}

#bottomLine select{
    height: 40px;
}

.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    margin: 20px;
}


.button-grayBlack {
    background: linear-gradient(0deg, rgba(120,120,120,1) 0%, rgba(80,80,80,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
    font-size: 20px;
}
.button-grayBlack span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.button-grayBlack:before,
.button-grayBlack:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(80,80,80,1);
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.button-grayBlack:before{
    height: 0%;
    width: 2px;
}
.button-grayBlack:after {
    width: 0%;
    height: 2px;
}
.button-grayBlack:hover{
    color: rgba(80,80,80,1);
    background: transparent;
}
.button-grayBlack:hover:before {
    height: 100%;
}
.button-grayBlack:hover:after {
    width: 100%;
}
.button-grayBlack span:before,
.button-grayBlack span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(80,80,80,1);
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.button-grayBlack span:before {
    width: 2px;
    height: 0%;
}
.button-grayBlack span:after {
    height: 2px;
    width: 0%;
}
.button-grayBlack span:hover:before {
    height: 100%;
}
.button-grayBlack span:hover:after {
    width: 100%;
}

#langSelect{
    font-size: 20px;
    margin-right: 10px;
}

#tagDropdown{
    font-size: 20px;
    margin: 0px 10px;
    height: 40px;
    padding: 5px;
}

