body{
  font-size: var(--font-size-main);
  padding: 20px;
}

a{
  text-decoration: none; color: black;
}
.link{
  background-color: transparent;color: black;border: none;
}

:root{
  --font-size-main:20px;
}